body {
    background-color: antiquewhite;
    margin: 0;
    display: grid;
    place-items: center;
    height: 100vh;
}

#start {
    display: grid;
    row-gap: 10px;
    
}

.spaces {
    font-size: 3rem;
}

.letters {
    appearance: none;
    border: 0;
    width: 50px;
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
    background-color: gray;
    font-size: 2rem;
}

#lettersDiv>.letters:not(:last-child) {
    margin-right: 15px;
}

.letters:hover {
    background-color: gainsboro;
}

.letters:focus {
    outline: none;
    border: 0 0 0 4px black;
}

label {
    font-size: 300%;
}

.winMessage {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size: 3rem;
    flex-direction: column;
}

.showBtn {
    display: flex;
}

.btn {
    font-size: 2rem;
}